:root {
  --bs-body-bg: #ffffff;
  --bs-body-color: #575a5f;
  --primary: #dc5000;
  --heading-color: #000000;
  --heading-link: #000000;
  --heading-hover: var(--primary);
  --link-color: #0d6efd;
  --link-hover: #0a58ca;
  --blockquote: var(--primary);
  --btn-primary: var(--primary);
  --btn-primary-hover: #f46013;
  --btn-light-hover: #000000;
  --bg-light: #f3f7f9;
  --archive-bg: #ffffff;
  --nav-color: #686868;
  --nav-hover: var(--primary);
  --nav-selected: var(--primary);
  --dropdown-bg: #ffffff;
  --dropdown-color: #686868;
  --dropdown-hover: var(--primary);
  --dropdown-selected: var(--primary);
  --header-bg: #ffffff;
  --header-color: #212529;
  --footer-color: #212529;
  --socket-color: #212529;
  --footer-link: #9fa6ad;
  --text-green: #203a12;
  --bg-green-500: #054640;
  --border-light: #e5e5e5;
  --bs-border-color: color-mix(in srgb, var(--border-light), transparent 25%);
  --bs-font-sans-serif: system-ui, -apple-system, Segoe UI, Helvetica Neue,
    Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='8' width='8' fill='none' viewbox='0 0 24 24' stroke='%23686868'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M 0.5,0.5 4,4 0.5,7.5'/%3E%3C/svg%3E");
}

.dark-mode {
  --bs-body-bg: hsl(210, 11%, 15%);
  --bs-body-bg-rgb: var(--bs-body-bg);
  --bs-body-color: hsl(210, 11%, 80%);
  --heading-color: hsl(0, 0%, 96%);
  --heading-link: hsl(210, 11%, 80%);
  --link-color: hsl(198, 100%, 67%);
  --link-hover: var(--link-color);
  --btn-light-hover: hsl(210, 11%, 80%);
  --border-light: hsl(210, 11%, 29%);
  --bs-border-color: color-mix(in srgb, var(--border-light), transparent 25%);
  --bg-light: hsl(210, 11%, 20%);
  --archive-bg: hsl(210, 11%, 17%);
  --nav-color: hsl(210, 11%, 70%);
  --dropdown-bg: hsl(210, 11%, 18%);
  --dropdown-color: hsl(210, 11%, 70%);
  --header-bg: hsl(210, 11%, 15%);
  --header-color: hsl(210, 11%, 80%);
  --footer-color: hsl(210, 11%, 80%);
  --socket-color: hsl(210, 11%, 80%);
  --bs-success: hsl(150, 50%, 50%);
  --text-green: hsl(152, 80%, 45%);
  --bg-green-500: hsl(155.12, 56.16%, 14.31%);
  --primary: hsl(26, 100%, 50%);
  --bs-breadcrumb-item-active-color: hsl(210, 11%, 80%);
  --placeholder-color: hsl(210, 11%, 50%);
  .shadow {
    box-shadow: 0 .5rem 1rem hsl(210,1%,25%) !important;
  };
  .breadcrumb-item + .breadcrumb-item::before {
    filter: brightness(5) contrast(5);
  };
  .form-control::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
  };
  img {
    filter: brightness(0.9);
  };
}
body {
  font: 400 16px/1.5 var(--bs-font-sans-serif);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.d-block,
.no-items,
.blog-admin {
  display: none;
}
a,
.link {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  text-decoration: none;
  color: var(--link-hover);
}
.fs-7 {
  font-size: 0.875rem;
}
.fs-8 {
  font-size: 0.75rem;
}
.fs-9 {
  font-size: 0.7rem;
}
.btn:focus {
  box-shadow: none !important;
}
.btn-sm {
  min-width: 32px;
  min-height: 32px;
}
img,
svg,
iframe {
  max-width: 100%;
}
img {
  height: auto;
  object-fit: cover;
}
label {
  cursor: pointer;
}
.visually-hidden {
  position: unset !important;
}
.form-control {
  background-color: transparent;
}
.form-control:focus {
  box-shadow: none;
  background-color: transparent;
}
.form-control::placeholder {
  opacity: 0.5;
}
.dropdown-toggle::after {
  border-width: 0.25em 0.25em 0;
}
.dropdown-menu {
  margin: 0;
  padding: 0;
}
.ratio:before {
  content: none;
}
.ratio-1x1 {
  padding-bottom: 100%;
}
.ratio-4x3 {
  padding-bottom: 75%;
}
.ratio-16x9 {
  padding-bottom: 56.25%;
}
.ratio-21x9 {
  padding-bottom: 43%;
}
.object-cover {
  object-fit: cover;
}
.text-primary,
.hover-text-primary:hover,
input:checked ~ .check-text-primary {
  color: var(--primary) !important;
}
.bg-primary {
  background-color: var(--primary);
}
.bg-light {
  background-color: var(--bg-light) !important;
}
.bg-archive {
  background-color: var(--archive-bg);
}
.border-light {
  border-color: var(--border-light) !important;
}
input:checked ~ .d-block-check {
  display: block !important;
}
input:checked ~ .d-none-check {
  display: none !important;
}
.dropdown-menu,
.accordion-item,
.accordion-header {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border-color: var(--border-light);
}
.lazyload {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  opacity: 0;
}
.lazyload.loaded {
  opacity: 1;
}


pre {
  background-color: var(--bg-light);
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.75rem;
}
blockquote {
  border-left: 5px solid var(--blockquote);
  color: inherit;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding-left: 1rem;
}
#header {
  background-color: var(--header-bg);
  color: var(--header-color);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  min-height: 63px;
  z-index: 110;
}
#post-sidebar-sticky {
  z-index: 1;
}
.header-social {
  border-right: 1px solid var(--bs-border-color);
}
.icon {
  display: inline-block;
  height: 1em;
  vertical-align: -0.15em;
  width: 1em;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.icon-center {
  font-family: sans-serif;
}
.icon-dark,
.dark-mode .icon-light {
  display: none;
}
.dark-mode .icon-dark {
  display: block;
}
#dark-toggler,
#search-toggler,
#navbar-toggler {
  line-height: 1;
}
#dark-toggler {
  font-size: 17px;
}
#footer {
  color: var(--footer-color);
}
#socket {
  border-top: 1px solid
    var(--bs-border-color);
  color: var(--socket-color);
}
.rounded-t {
  border-radius: 0.81rem 0.81rem 0 0;
}
#navbar {
  z-index: 9999;
}
#navbar .menu-item {
  position: relative;
}
#navbar .nav-link {
  min-height: 40px;
}
#navbar .dropdown-toggle {
  cursor: pointer;
  align-items: center;
  display: flex;
}
#navbar.d-block,
#navbar .dropdown-menu,
#navbar .nav-link,
#navbar .dropdown-toggle {
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#navbar .navbar-nav > .menu-item > .nav-link {
  font: normal 500 1rem var(--bs-font-sans-serif);
  line-height: 1.5;
  color: var(--nav-color);
}
#navbar .navbar-nav > .menu-item:hover > .nav-link,
#navbar .navbar-nav > .menu-item:hover > .dropdown-toggle {
  color: var(--nav-hover);
}
#navbar .navbar-nav > .menu-item > .nav-link.active,
#navbar .navbar-nav > .menu-item > .active ~ .dropdown-toggle {
  color: var(--nav-selected);
}
.logo-wrap {
  width: 200px;
}
#search-header .dropdown-menu {
  background-color: var(--dropdown-bg);
  color: var(--dropdown-color);
  border-color: var(--bs-border-color);
  min-width: 300px;
  right: 0;
  top: 100%;
}
#pagination li + li {
  margin-left: 5px;
}
.feature-image,
.separator,
.tr-caption-container {
  margin-bottom: 1rem;
}
.tr-caption-container {
  width: 100%;
}
.separator a,
.tr-caption-container a {
  margin: 0 !important;
  padding: 0 !important;
}
.tr-caption {
  font-size: 12px;
  font-style: italic;
}
.widget:last-child {
  margin-bottom: 0 !important;
}
#post-body .widget {
  margin-top: 1.5rem;
}
.item-title,
.item-meta,
.item-tag {
  color: var(--heading-link);
}
.item-title {
  display: -webkit-box;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-title:hover {
  color: var(--heading-hover);
}
#comment-editor {
  width: 100%;
}
#main .widget-title,
#footer .widget-title {
  text-transform: capitalize;
  color: var(--heading-color);
}
#footer .widget-title,
#sidebar .widget-title {
  font-size: 13px !important;
}
#footer .widget-title:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid var(--primary);
  margin-top: 10px;
}
#main .widget-title > span {
  background-color: var(--bs-body-bg);
  padding: 0 5px 0 5px;
  position: relative;
}
hr.example-ads:before {
  content: "Advertisement here";
}
hr.example-ads {
  background-color: var(--bg-light);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  height: auto;
  margin: 0;
  opacity: 1;
  padding: 1.5rem 0;
  text-align: center;
  border-top: 0 !important;
}
body > .google-auto-placed {
  margin: 0 auto 1.5rem;
  max-width: 1108px;
}
.google-auto-placed > ins {
  margin: 0 !important;
}


.h1,
h1 {
  font-size: calc(1.275rem + 1.5vw);
}
.h2,
h2 {
  font-size: calc(1.225rem + 0.9vw);
}
.h3,
h3 {
  font-size: calc(1.2rem + 0.6vw);
}
.h4,
h4 {
  font-size: calc(1.175rem + 0.3vw);
}
.h5,
h5 {
  font-size: 18px;
}
.h6,
h6 {
  font-size: 16px;
}
.entry-title {
  color: var(--heading-color);
}
.entry-text h1,
.entry-text h2,
.entry-text h3,
.entry-text h4,
.entry-text h5,
.entry-text h6 {
  color: var(--heading-color);
  padding-top: 1em;
  margin-bottom: 1rem;
}
.entry-text li {
  margin-bottom: 0.5rem;
}


@media (min-width: 576px) {
  .ratio-sm-4x3 {
    padding-bottom: 75%;
  }
  .ratio-sm-16x9 {
    padding-bottom: 56.25%;
  }
  .border-sm-end {
    border-right-width: 1px !important;
    border-right-style: solid;
  }
  #post-pager .next-page {
    border-left: 1px solid;
  }
}
@media (min-width: 768px) {
  .position-md-relative {
    position: relative;
  }
  .border-md-end {
    border-right-width: 1px !important;
    border-right-style: solid;
  }
}
@media (min-width: 992px) {
  .d-lg-flex {
    display: flex;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .border-lg-end {
    border-right-width: 1px !important;
    border-right-style: solid;
  }
  #navbar .navbar-nav > .menu-item {
    display: flex;
  }
  #navbar .dropdown-menu {
    background-color: var(--dropdown-bg);
    border-color: var(--bs-border-color);
    margin-top: -10px;
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 5px 10px 10px -5px rgba(0, 0, 0, 0.14);
    top: 100%;
    min-width: 150px;
  }
  #navbar .dropdown-menu .nav-link {
    padding-right: 20px;
    font-size: 15px;
    color: var(--dropdown-color);
  }
  #navbar .dropdown-menu .dropdown-toggle {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  #navbar .dropdown-menu .dropdown-menu {
    left: 100%;
    top: -1px;
  }
  #navbar .dropdown-menu .menu-item:hover > .nav-link,
  #navbar .dropdown-menu .menu-item:hover > .dropdown-toggle {
    color: var(--dropdown-hover);
  }
  #navbar .dropdown-menu .menu-item > .nav-link.active,
  #navbar .dropdown-menu .menu-item > .active ~ .dropdown-toggle {
    color: var(--dropdown-selected);
  }
  #navbar .menu-item:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
    margin: 0;
  }
  #navbar .navbar-nav > .menu-item > .nav-link {
    padding: 0.5rem 1.2rem;
    white-space: nowrap;
  }
  #navbar .navbar-nav > .menu-item > .dropdown-toggle {
    bottom: 0;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 3px;
  }
  .vertical-spacer {
    margin: 1rem 1rem;
    width: 1px;
    height: calc(100% - 2.7rem);
    background: currentColor;
    opacity: 0.25;
  }
  #footer-widget .widget {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 980px;
  }
  .is-home .container {
    max-width: 1140px;
  }
  .h1,
  h1 {
    font-size: 32px;
  }
  .h2,
  h2 {
    font-size: 26px;
  }
  .h3,
  h3 {
    font-size: 22px;
  }
  .h4,
  h4 {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-xl {
    max-width: 1141px;
  }
  .is-home .container,
  .is-page .container {
    max-width: 1320px;
  }
}
@media (max-width: 991.98px) {
  input:checked ~ .dropdown-menu {
    display: block;
  }
  input:checked + .dropdown-toggle {
    color: var(--dropdown-selected);
  }
  .logo-wrap {
    width: 150px;
  }
  #search-header .dropdown-menu {
    width: 100%;
  }
  #navbar {
    background-color: var(--header-bg);
    padding-top: 70px;
    padding-bottom: 30px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
  }
  #navbar.d-block {
    opacity: 0;
    transform: translateX(-20%);
  }
  #navbar.show {
    transform: translateX(0);
    opacity: 1;
  }
  #navbar .navbar-nav {
    max-height: 100%;
    overflow-y: auto;
  }
  #navbar-toggle:checked ~ #header-main #navbar {
    display: block;
  }
  #navbar .nav-link {
    border-bottom: 1px solid var(--bs-border-color);
    font-size: 16px !important;
    color: var(--dropdown-color);
  }
  #navbar .menu-item:hover > .nav-link {
    color: var(--dropdown-hover);
  }
  #navbar .active > .nav-link {
    color: var(--dropdown-selected);
  }
  #navbar .dropdown-toggle {
    border-left: 1px solid var(--bs-border-color);
    height: 2.5rem;
    padding: 0 1rem;
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar .dropdown-menu {
    background-color: var(--dropdown-bg);
    border: none;
    padding-left: 10px;
  }
  #sidebar {
    border-top: 1px solid var(--border-light);
  }
}
@media (max-width: 575.98px) {
  .feature-posts .item-thumbnail {
    margin-bottom: -150px;
  }
  .feature-posts .item-thumbnail a {
    border-radius: 0 !important;
    box-shadow: none !important;
    padding-bottom: 75%;
  }
  .feature-posts .item-content {
    background-color: var(--bs-body-bg);
    border: 3px solid;
    border-radius: 0.25rem;
  }
  #post-pager .prev-page + .next-page {
    border-top: 1px solid;
  }
  .full-width,
  .px-3 .google-auto-placed {
    margin-left: -1rem;
    margin-right: -1rem;
    width: auto !important;
  }
  #footer-widget .widget {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.text-green {
  color: var(--text-green);
}
.bg-green-100 {
  background: linear-gradient(
    135deg,
    color-mix(in srgb, var(--bs-green), transparent 95%) 0%,
    transparent 100%
  );
  background-color: color-mix(in srgb, var(--bs-green), transparent 98%);
}

.btn-primary,
.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--btn-primary) !important;
  border-color: var(--btn-primary) !important;
}
.btn-light {
  color: var(--bs-body-color);
  background-color: var(--bg-light) !important;
  border-color: var(--bg-light);
}
.btn-light:hover {
  color: var(--btn-light-hover) !important;
  background-color: var(--bg-light) !important;
  border-color: var(--bg-light) !important;
}
.btn-primary:hover,
.hover-btn-primary:hover,
input:checked + .btn-outline-primary {
  color: #fff !important;
  background-color: var(--btn-primary-hover) !important;
  border-color: var(--btn-primary-hover) !important;
}
.btn-outline-primary {
  color: var(--btn-primary);
  border-color: var(--btn-primary);
}
.btn-outline-dark {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg) !important;
  border-color: var(--bs-body-color);
}
.btn-outline-dark:hover {
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color) !important;
}

#main .h1 {
  color: var(--heading-color);
}
#back-to-top {
  right: 20px;
  bottom: 36px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 36px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 0.3s ease, transform 0.5s ease;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.clamp-3 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  padding-bottom: 0.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bs-body-bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--bs-success);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.blacker,
.fullrad {
  border-radius: 5rem !important;
}

#cookieChoiceInfo {
  background-color: #222;
  padding: 5px 5px 15px;
  bottom: 0;
  top: unset;
  font-family: "Helvetica Neue Light", HelveticaNeue-Light, "Helvetica Neue",
    Calibri, Helvetica, Arial;
}
#cookieChoiceInfo .cookie-choices-text {
  font-size: 12px;
  text-align: left;
  margin: 2px 5px 13px;
}
#cookieChoiceInfo .cookie-choices-button {
  color: #000;
  background-color: #adbcc5;
  border-radius: 5px;
  padding: 8px 18px;
  text-transform: none;
  transition: all 0.2s linear;
  font-weight: 400;
}
#cookieChoiceInfo .cookie-choices-button:nth-child(2) {
  background-color: #f1d600;
}
